.body{
  margin: 0px;
  background-image: url("fundo.png");
  background-repeat: no-repeat;
  width: 1366px;
  height: 823px;
}
#texto_descrição{
  margin-top: 0px;
  margin-left: 0px;
  width: 175px;
  padding-left: 33px;
  height: 120px;
  padding-top: 250px;
  float: left;
}

.descrição{
font-family: "courier-prime", monospace;
font-weight: 700;
font-size: 20px;
font-style: normal;
text-align: center;
color: aliceblue;
margin-top: 0px;
}

.texto_ilustracao{
  margin-top:70px;
  width: 1150px;
  height: 250px;
  margin-left: 250px;
  margin-top: 48px;
  
}

.nav_imagens {
    width:1050px;
    height:300px;
    position: absolute;
    margin-left:260px;
    
}
.nav_li_imagens {
    display: inline-block;
    margin-right:10px;
}

.FONTE_TITULO{
font-family: "courier-prime", monospace;
font-size: 36px;
font-weight: 700;
font-style: normal;
text-align: center;
margin-top: 45px;
margin-left: 290px;
color: aliceblue;
text-align:left;

}
#texto_DE{
  padding-top:0px;
  width: 1300px;
  height: 350px;
  margin-left: 200px;
}

#links{
  padding-top: 200px;
  padding-left: 100px;
  height: 50px;
  width: 50px;
}
.logo{
    margin-left:66px;
    margin-bottom: 4px;
    margin-top:0px;
}



#FONTE_TITULO2{
  font-family: "courier-prime", monospace;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin-left: 330px;
  color: aliceblue;
  text-align:left;
  margin-bottom: 16px;
  margin-top: 39px;
  
}
